<body>
<div data-sly-use.obj="${'com.adobe.aem.guides.Eswar.core.models.SlingModelExample' @ slingModel='Values'}" style='background-color:Blue; color:white;'>
		<h2>Component Inserted Successfully...!</h2>
		<p>Hi Brahmi please enter whatever details required inside cq:dialog...!</p>
		<h4>Text:${obj.text}</h4>
		<h4>First Name:${obj.firstName}</h4>
		<h6>Name:${obj.name}</h6>
		<h6>Mobile Number: ${obj.mobileNumber}</h6>
		<h6 style="color: yellow">Address: ${obj.address}</h6>
		<h6 style="color: yellow">Date Of Birth:${obj.dataOfBirth}</h6>
		<h6 style="color: yellow">Path Field: ${obj.pathField}</h6>
		<h6>Path Browser: ${obj.pathBrowser}</h6>
		<h6>Drop Down: ${obj.dropDown}</h6>
		<h6>Check Box: ${obj.checkBox}</h6>
		<h6>Radio Group: ${obj.radioGroup}</h6>
		<h6>Text1: ${obj.text1}</h6>
		<h6>Color Picker: ${obj.colorPicker}</h6>
		<h6>image: <img src= "${obj.image}" alt="image" width="80" height="60"/></h6>
		<h6>Text Area: ${obj.textArea}</h6>
		<h6>Get SlingModel:${obj.slingModel}</h6>
		<h4>Get Children: ${obj.children}</h4>
			
		
</div>
</body>

